.posts-navigation {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;

    .previous-link-wrap {
        max-width: 48.5%;
    }

    .next-link-wrap {
        max-width: 48%;
    }

    .previous-post-link,
    .next-post-link {
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: #fff;
        padding: 20px 5px;

        .nav-icon { font-size: 30px; }
        .the-title { font-size: 14px; }

        &:active,
        &:focus,
        &:hover { text-decoration: none !important;}
    }

    .previous-post-link {
        align-items: center;

        .the-title { margin-right: 20px; }

        .nav-icon {
            margin-right: 10px;
        }

    }

    .next-post-link {
        align-items: center;
        .the-title { margin-left: 20px; }
        .nav-icon {
            margin-left: 10px;
        }
    }

}
