.related-posts {
    .section-title {
    }

    .slider-nav {
        position: relative;

        .btn-prev,
        .btn-next {
            font-size: 18px;
            position: absolute;
            top: 8px;
            padding: 10px 20px;
            background: rgba(0,0,0,0.7);
            z-index: 3;
            color: #fff;
        }
        .btn-prev { left: 15px; }
        .btn-next { right:15px; }
    }

    .slider-wrap {

        .slide-item {
            padding: 0 15px 15px 15px;

        }
    }
}
