.site-footer {
    background-color: #0D0A0A;

    .site-logo {
        margin: 1rem 0;
    }


    .footer-menu-nav {
        .footer-menu {
            margin: 0 0;
            padding: 0 0;
            list-style-position: outside;

            .active {
                background-color: transparent;
            }

            a {
                color: #f5f5f5;
                font-size: 12px;
                padding: 7px 10px;

                &:active,
                &:focus,
                &:hover {
                    color: #fafafa;
                }

                &:last-of-type {
                    padding-right: 0 !important;
                }
            }
        }
    }

    .copyright {
        border-top: 1px solid #191818;
    }
}
