//#! Helper classes
.hidden { display:none !important;}
.image-responsive { max-width: 100%;}
.np-relative { position: relative; }
//
body { background-color: #eee; }
img, a {border: none 0; outline: none;}

//#! Reset paragraphs' margin bottom in alerts
.alert p { margin-bottom: 0 !important; }

//#! Masonry
.masonry-grid {
    .grid-sizer { display: none; }
    .masonry-item {
        margin-bottom: 20px !important;
    }
}

.full-w {
    width: 100% !important;
}
.full-h {
    height: 100% !important;
}
.font-default {
    font-family: 'Nunito', sans-serif;
}
