.info-bar {

    .info-bar-wrap {
        display: flex;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        height: 100%;

        .the-date {
            margin-right: 25px;
            font-size: 0.8rem;
        }

        a {
            font-size: 0.8rem;

            @media(min-width:400px){
                margin-right: 10px;
            }


            &:last-of-type {
                margin-right: 0 !important;
            }
        }
    }

}
